<h1>Edit {{course.title}}</h1>

<form action="/courses/edit" method="POST">
    <div class="input-field">
        <input id="title" type="text" name="title" class="validate" required value="{{course.title}}">
        <label for="title">Title</label>
        <span class="helper-text" data-error="enter name"></span>
    </div>

    <div class="input-field">
        <input id="price" type="text" name="price" class="validate" required  value="{{course.price}}">
        <label for="price">Price</label>
        <span class="helper-text" data-error="enter price"></span>
    </div>

    <div class="input-field">
        <input id="image" type="text" name="img" class="validate" required  value="{{course.img}}">
        <label for="image">URL img</label>
        <span class="helper-text" data-error="enter url image"></span>
    </div>

    <input type="hidden" name="id" value="{{course.id}}">
    <button class="btn btn-primary">Edit </button>
</form>

